.wrapper {
  padding: 16px;
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.right {
  margin-left: auto;
  display: flex;
  gap: 12px;
}

.main {
  margin-top: 16px;
}
